body{
    background-color: #DCE9E9;
}

.container{
    width: 100%;
    margin: 0px auto;
    padding: 0px auto;
}


.main-container{
    max-width: 75em;
    margin: 0px auto;
    padding: 0px auto;
}

.header{
    max-width: 75em;
    margin: 0px auto;
    padding: 0px auto;
}

.header-content{
    padding: 25px;
    background: rgb(255, 245, 211);
    border: 1px solid #CCCCCC;
}

.header-content strong{
    font-weight: bold;
}


.main-content{
    width: 100%;
    margin: auto;
    padding-top: 15px;
}

.options{
    width: 12%;
    float: left;
    min-height: 500px;
    padding: 15px;
    background: rgb(255, 245, 211);
    border: 1px solid #CCCCCC;
}


.option-button{
    padding: 10px 0px;
}

.option-button button{
    border: none;
    border-radius: 5px;
    background-color: rgb(55, 174, 204);
    color: rgb(255, 255, 255);
    min-width: 100px;
    height: 35px;
    font-size: 16px;
}

.option-button button:hover{
    background-color: rgb(55, 174, 255);
}


.options input{
    width: 90px;
}

.canvas-container{
    width: 84%;
    float: right;
}

.canvas-element{
    width: 74%;
    float: left;
    background: rgb(255, 245, 211);
    border: 1px solid #CCCCCC;
    padding: 0px 15px 15px 15px; 
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.canvas-heading{
    padding: 10px 0px;
}

#main-canvas{
    border: 1px solid #CCCCCC;
    margin: auto;
    background-color: #FFFFFF;
}

.process-info-heading{
    padding: 10px 0px;
}


#process-info{
    border: 1px solid #CCCCCC;
    margin: auto;
    float: left;
    background-color: #FFFFFF;
}

.info-div{
    width: 18%;
    /*border: 1px solid blue;*/
    min-height: 500px;
    float: right;
    padding: 15px;
    background: rgb(255, 245, 211);
    border: 1px solid #CCCCCC;
}

.clearfix{
    overflow: auto;
}