.main-container{
    max-width: 75em;
    margin: 0px auto;
    padding: 0px auto;
}

.options{
    width: 15%;
    float: left;
    border: 1px solid green;
    min-height: 500px;
    
}

.option-button{
    padding: 10px 20px;
}

.options input{
    width: 90px;
}


.canvas-container{
    width: 84%;
    float: right;
}

.canvas-element{
    width: 82%;
    float: left;
}

#myCanvas{
    border: 1px solid red;
    margin: auto;
}

#drawing{
    border: 1px solid red;
    float: left;
}

#process-info{
    border: 1px solid red;
    margin: auto;
    float: right;
}

.info-div{
    width: 17%;
    border: 1px solid blue;
    min-height: 500px;
    float: right;
}

.clearfix{
    overflow: auto;
}